{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Room edit</h1>

    <a href="{{ path('post') }}" class="btn btn-default">Back to List</a>

    {{ form(edit_form) }}

    {{ form(delete_form) }}
{% endblock %}
