{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Success</h1>
    <p>Your account has been created. You must now Activate your account. Please check your email account instructions.</p>
{% endblock %}
